.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 6rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header img{
  max-width: 200px;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(1, 1, 1);
}

code {
  background-color: #b5e1ee;
  font-family: monospace;
  font-size: calc(8px + 2vmin);
}

a {
  color: #a91eb6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.text-block {
  min-height: 100vh;
  font-size: calc(20px + 2vmin);
  color: rgb(1, 1, 1);
  text-align: left;
  display: flex;
  justify-content: center;

}

.text-block-middle {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: rgb(1, 1, 1);
  text-align: left;
}

.loader-text {
  margin-top: 10px;
  padding-top: 10px;
  color: lightgrey;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* content-alignment: center; */
  align-content: center;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.5);
  border-radius: 5px;
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 1px 0px darkslategrey;
}

.loader {
  border: 10px solid rgb(234, 11, 174);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 80px;
  height: 80px;
  animation-name: loading;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader-text {
  margin-top: 10px;
  padding-top: 10px;
  color: rgb(237, 16, 185);
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.description-box {
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  height: 35px;
  line-height: 35px;
  width: 500px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fading {

  0%,
  100% {
    opacity: 0.05;
  }

  50% {
    opacity: 0.95;
  }
}

.tag {
  text-align: right;
  color: rgb(237, 16, 185);
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}
img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
.tools img{
  width: 100%;
  max-width: 800px;
  height: auto;
}
.logo img{
  width: 100%;
  max-width: 300px;
  height: auto;
}
